<h1>驗證您的電子郵件地址</h1>

<p>親愛的用戶，</p>

<p>感謝您註冊 RT-MART！為了完成註冊，請使用以下驗證碼：</p>

<div class="verification-code">
    {{code}}
</div>

<div class="info-box">
    <strong>注意事項：</strong>
    <ul style="margin: 10px 0; padding-left: 20px;">
        <li>此驗證碼將在 <strong>{{expiryMinutes}} 分鐘</strong>後失效</li>
        <li>請勿將此驗證碼分享給他人</li>
        <li>如果您沒有申請註冊，請忽略此郵件</li>
    </ul>
</div>

<p>請在註冊頁面輸入上述驗證碼以完成您的帳戶創建。</p>

<p>如有任何問題，請隨時聯繫我們的客服團隊。</p>

<p>祝您購物愉快！<br>
RT-MART 團隊</p>
